/**
 *
 * Apply Here your Custom CSS
 *
*/

body {
	
}

.white {-webkit-filter: brightness(0) invert(1); filter: brightness(0) invert(1);}
.brightness {-webkit-filter: brightness(0.25); filter: brightness(0.25);}
.invert {-webkit-filter: invert(100%); filter: invert(100%);}

#map {
	position: initial !important;
}

.text-white {
	color: #fff !important;
}